.nav-bar {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 25px;
    font-family: Roboto;
    font-size: 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.container {
    padding-top: 20px;
}

p, ol {
    font-size: 20px;
}